.contacts{
    position: relative;

    &__map{
        display: block;
    }
    &__details{
        display: block;
        position: absolute;
        background: #ADDDDE;
        width: 100%;
        max-width: 477px;
        top: 128px;
        left: 1228px;
        box-sizing: border-box;
        &:last-child{
            padding-bottom: 21px;
        }
        @media screen and (max-width: 1950px) {
            left: 1228px;
        }
        @media screen and (max-width: 1825px) {
            left: 1028px;
        }
        @media screen and (max-width: 900px) {
            display: block;
            position: relative;
            margin: 0;
            padding: 0;
            left: 0px;
            top: 10px;
        }
    }
    &__header{
        font-size: 48px;
        font-weight: 700;
        color: #2D5E5E;
        padding-left: 30px;
        margin: 0;
        padding-top: 29.4px;
        padding-bottom: 9.03px;
        line-height: 72px;
    }
    &__details-item{
        font-weight: 500;
        padding-left: 30px;
        margin: 0;
        margin:10px 0;
        line-height: 24px;
        
    }
}