.nav{
    &__list{
        display: flex;
        list-style: none;
        gap: 15px;
        @media screen and (max-width: 720px) {
            flex-direction: column;
            align-items: left;
            padding: 0 15px;
            gap: 10px;
            margin: 0;
        }
        @media screen and (max-width: 350px) {
            align-items: center;
        }
    }
    &__link{
        text-decoration: none;
        color: #85AAAB;
        font-size: 18px;
        font-weight: 700;
        &_active{
            color: #6DE1E3;
            border-bottom: 2px solid currentColor;
        }
        &:hover,
        &:focus{
            color: #6DE1E3;
        }
    }
}